@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --button-bg: #0a0a0a;
  --button-text: #ffffff;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --button-bg: #f9fafb;
  --button-text: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.toggleTheme {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__icon svg, .card__icon svg, .list__wallet-icon svg {
    width: 20px;
    height: 20px;
    display: block;
}