@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --button-bg: #2563eb;
  --button-text: #ffffff;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --button-bg: #1e40af;
  --button-text: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
