:root {
    --color-primary-azure: #3767B6;

    --color-secondary-navy: #102F7D;
    --color-secondary-cerulean: #59B9F5;
    --color-secondary-emerald: #69CC97;
    --color-secondary-purple: #AB83B9;

    --color-grey-light: #C4C4C4;
    --color-grey: #9B9B9B;
    --color-grey-dark: #757575;
}
